{% extends 'layout.html' %}
{% block body %}

    <!-- portfolio_details_banner_start  -->
    <div class="portfolio_details_banner">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="details_info ">
                        <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">Lava Kunfa POS</h3>
                        <div class="details_links d-flex justify-content-between align-items-center">
                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <span>Client</span>
                                <h4>Lava Kunfa</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                                <span>Category</span>
                                <h4>Resturant POS</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                <span>Project Date</span>
                                <h4>July 2018</h4>
                            </div>
                            <div class="single_details single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <span>Share Project</span>
                                <div class="social_links">
                                    <ul>
                                        <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>
                                        <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="single_details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                                <div class="project_btn">
                                    <a href="#" class="boxed-btn3">Project Link</a>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- portfolio_details_banner_end  -->

    <div class="portfolio_details_wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="banner wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".3s">
                        <img src="{{url_for('static' , filename = 'img/work/pos.png')}}" alt="">
                    </div>
                    <div class="details_text">
                        <div class="row">
                            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <p>Lava Kunfa is a coffee shop in El-mashtal street in Khartoum and in Omdurman in Al-wadi street. It sells different types of delicious Kunafas with different combinations and that includes: cheese, chocolates, fruits and many other varieties.
                                Lava also provides many type of beverages and juices.</p>
                            </div>
                            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <p>Nymeria Technology worked with Lava to develop and integrate a POS system in order to support and maintain the daily operation of Lava in terms of sales, purchasing, and the management of inventory.</p>
                            </div>
                            <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                <p>Our POS system helps the restaurant and coffee shop to have a robust system to track sales that are based on items or categories to make track shifts based on cashiers over a specific time period, tracking the inventory by adding item recipients and that is been detected from the inventory based on the sales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="thumbs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                    <img src="{{url_for('static' , filename = 'img/portfolio/table.png')}}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_thumb wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                                    <img src="{{url_for('static' , filename = 'img/portfolio/table_order.png')}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- testimonial_area  -->
    <div class="testimonial_area ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                                <div class="single_testmonial text-center">
                                        <div class="quote">
                                            <img src="{{url_for('static' , filename = 'img/testmonial/quote.svg')}}" alt="">
                                        </div>
                                        <p>Excellent Company! I will definitely work with them again. Good communication, good work, on time!</p>
                                        <div class="testmonial_author">
                                            <div class="thumb">
                                                    <img src="{{url_for('static' , filename = 'img/portfolio/lava.jpg')}}" style="width: 50px;width: 50px; border-radius: 50%;" alt="">
                                            </div>
                                            <h3>Yasin Ahmed</h3>
                                            <span>Lava Kunfa</span>
                                        </div>
                                    </div>
                        </div>
                        <!-- <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                <div class="quote">
                                    <img src="img/testmonial/quote.svg" alt="">
                                </div>
                                <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                        Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                <div class="testmonial_author">
                                    <div class="thumb">
                                            <img src="img/testmonial/thumb.png" alt="">
                                    </div>
                                    <h3>Robert Thomson</h3>
                                    <span>Business Owner</span>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="single_carousel">
                            <div class="single_testmonial text-center">
                                <div class="quote">
                                    <img src="img/testmonial/quote.svg" alt="">
                                </div>
                                <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br> 
                                        sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>
                                        Fusce ac mattis nulla. Morbi eget ornare dui. </p>
                                <div class="testmonial_author">
                                    <div class="thumb">
                                            <img src="img/testmonial/thumb.png" alt="">
                                    </div>
                                    <h3>Robert Thomson</h3>
                                    <span>Business Owner</span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /testimonial_area  -->
    {% endblock%}